.env
__pycache__/
*.pyc
.idea/
venv/
.DS_Store
.venv/
/Users/apple/Documents/research/thesis_research/test_generator/config.py
.claude
C:\Users\Harini\Documents\thesis_research\test_generator\randomshit.py